In [1]:
import pandas as pd

In [66]:
df = pd.read_csv('sushi3a_5000_10_order.txt', delimiter=" ", names = [str(i) for i in range(-2, 10)])

In [69]:
df = df[1:][[str(i) for i in range(0, 10)]]

In [70]:
df

        0    1    2    3    4    5    6    7    8    9
1     5.0  0.0  3.0  4.0  6.0  9.0  8.0  1.0  7.0  2.0
2     0.0  9.0  6.0  3.0  7.0  2.0  8.0  1.0  5.0  4.0
3     7.0  0.0  2.0  3.0  8.0  4.0  5.0  1.0  9.0  6.0
4     4.0  5.0  7.0  0.0  2.0  3.0  1.0  6.0  8.0  9.0
5     8.0  6.0  5.0  0.0  3.0  9.0  2.0  7.0  4.0  1.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
4996  3.0  7.0  4.0  5.0  6.0  0.0  1.0  2.0  8.0  9.0
4997  7.0  1.0  3.0  8.0  6.0  0.0  5.0  2.0  9.0  4.0
4998  7.0  2.0  4.0  5.0  3.0  6.0  1.0  0.0  8.0  9.0
4999  7.0  2.0  3.0  0.0  8.0  1.0  5.0  9.0  6.0  4.0
5000  0.0  5.0  3.0  4.0  7.0  2.0  6.0  9.0  8.0  1.0

[5000 rows x 10 columns]

In [71]:
df1 = pd.read_csv('sushi3b_5000_10_order.txt', delimiter=" ", names = [str(i) for i in range(-2, 10)])

In [72]:
df1 = df1[1:][[str(i) for i in range(0, 10)]]

In [73]:
df1

         0     1     2     3     4     5     6     7     8     9
1     58.0   4.0   3.0  44.0  87.0  60.0  67.0   1.0  12.0  74.0
2     22.0  31.0  60.0  21.0   8.0  24.0   6.0  12.0  17.0  76.0
3      2.0  15.0  13.0   1.0   6.0  25.0  46.0  74.0  56.0  55.0
4      8.0   0.0   3.0   9.0  24.0  43.0   4.0   5.0  29.0  40.0
5      9.0  47.0  50.0  30.0   4.0  19.0  99.0  55.0  31.0  13.0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
4996   3.0   8.0  19.0  13.0   6.0  63.0  31.0  15.0  26.0  17.0
4997   8.0   1.0  76.0   0.0   2.0   5.0  32.0   4.0  35.0  80.0
4998  19.0  14.0  11.0   0.0   7.0  24.0  23.0  46.0  60.0  30.0
4999  37.0   2.0   3.0   9.0  21.0   1.0  49.0  48.0   4.0  64.0
5000   9.0   3.0   4.0  47.0   8.0  19.0   2.0  23.0  42.0  25.0

[5000 rows x 10 columns]